<h2>Create An Account</h2>
<form id="regForm" method="post" enctype="multipart/form-data"  action="/">
	<div>
        	<label>First Name: </label>
        	<input type="text" name="first_name" value="Hooman">
	</div>

	<div>
    		<label>Job Description File: </label>
    		<input type="file" name="description_file">
  	</div>

	<div>
        	<input type="submit" value="Upload">
	</div>

</form>

<form id="downloadForm" method="get" enctype="multipart/form-data"  action="/download">

    <div>
            <input type="submit" value="Download">
    </div>

</form>

<form id="downloadForm" method="get" enctype="multipart/form-data"  action="/kos">

    <div>
            <input type="submit" value="Dow">
    </div>

</form>