.navigationBar {
  height: 50px;
  padding: 0 8px;
  background-color: #0078d7;
}

.banner {
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  width: 190px;
  height: 48px;
}

.userNav {
  display: flex;
  align-items: center;
  color: white;
}

.userName {
  font-size: x-large;
  color: white;
}

.userHeader {
  margin-bottom: 0;
  margin-right: 0;
}
