.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.itemCell {
  position: relative;
  margin: 2em;
  box-sizing: border-box;
  border: 1px solid silver;
}

.parent {
  margin: 28px 20px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
}

.itemCell:hover {
  border: 1px solid black;
}

.itemImage {
  flex-shrink: 0;
}

.itemContent {
  margin-left: 1em;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemIndex {
  color: #c8c8c8;
  margin-bottom: 0.5em;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.moreButton {
  position: absolute;
  top: 0;
  right: 10px;
}
